<?xml version="1.0"?>
<launch>
    

    <!-- Minimal Kuboki -->
    <!-- <include 
        file="$(find kobuki_node)/launch/minimal.launch">
    </include> -->
    <!-- Gazebo empty world -->
    <include file="$(find taller2_pkg)/launch/kuboki_mundo_taller2.launch" />
    
    <!-- Controller -->
    <!-- roslaunch kobuki_controller_tutorial  -->
    <include file="$(find kobuki_controller_tutorial)/launch/bump_blink_app.launch" />

    <!-- <node name="move_base_simple/goal" pkg="move_base_simple" type="move_base_simple"  >
        <remap from="/cmd_vel"  to="/mobile_base/commands/velocity" />
    </node> -->
    <!-- <node 
        pkg="rqt_gui" 
        type="rqt_gui" 
        name="kobuki_dashboard"
        args="-s kobuki_dashboard">
    </node> -->
      
</launch>